h1 {
    color: darkblue;
}
h2{
    color: crimson;
}
h3 {
    color: darkgreen;
}
h4 {
    color: darkmagenta;
}
h5 {
    color: darkorange;
}
h6 {
    color: teal;
}
p {
    color: dimgray;
}
a {
    color: navy;
}
div {
    color: maroon;
}